body{
    background-color: black;
    color: white;
    font-family: 'montserrat';
    transition: 500ms;
    overflow-x: hidden;
}

.contador{
    display: flex;
    height: 10rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

button{
    font-size: 1.5rem;
}

div{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10vh;
}

p{
    width: 70%;
}

.hidden{
    min-height: 100vh;
    opacity: 0;
    filter: blur(5px);
    transform: translatex(50%);
    transition: all 1.5s;
}

.mostrar{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.blue{
    background-color: blue;
    transition: 500ms;
}

.animacao1{
    animation: animacao 3s;

}

.rodar{
    animation: rodar 3s;

}

.entrarLado{
    animation: entrarLado 3s;
}

@keyframes animacao{
    from{
        position: relative;
        top: 10%;
        transform: translate(30px);
        opacity: 0;
    }

    to{
        position: relative;
        top: 0%;
        opacity: 1;
    }
}

@keyframes rodar{
    from{
        position: relative;
        top: 10%;
        transform: rotate(5deg);
        opacity: 0;
    }

    to{
        position: relative;
        top: 0%;
        opacity: 1;
    }
}

@keyframes entrarLado{
    from{
        position: relative;
        left: 50%;
        opacity: 0;
    }

    to{
        position: relative;
        left: 0%;
        opacity: 1;
    }
}
